@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Theme Colors */
  --color-primary: #299D91;
  --color-secondary: #E4E7EB;
  --color-background: #F4F5F7;
  --color-input-border: #4B5768;
  --color-input-placeholder: #4B5768;
  --color-error: #DC2626;
}

/* Global Input Styles */
input,
select,
textarea {
  border-color: var(--color-input-border) !important;
  color: var(--color-input-placeholder) !important;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-input-placeholder) !important;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}
